
{% extends "base.html" %}
{% block content %}
<a class="backlink" href="/">Home</a>
<h1>{{ post }}</h1>
<p class="byline">
    Posted by {{post.author.username}} &mdash; {{post.post_date}}
</p>
<div class="post-body">
    {{post.text}}
</div>
<ul class="categories">
    {% for category in post.categories.all %}
    <li>{{ category }}</li>
    {% endfor %}
</ul>
<ul class="comments">
    {% for comment in post.comments.all %}
    <li> {{ comment }} </li>
    {% endfor %}
</ul>
<a class="add_comment" href="{% url 'add_comment' post.pk %}">Add comment</a>
{% endblock %}