
{% extends "base.html" %}
{% block content %}
<a class="backlink" href="/">Home</a>
<h1>{{ post }}</h1>
<p class="byline">
    Posted by {{post.author.username}} &mdash; {{post.post_date}}
</p>
<div class="post-body">
    {{post.text}}
</div>
<ul class="categories">
    {% for category in post.categories.all %}
    <li>{{ category }}</li>
    {% endfor %}
</ul>
<a href="{% url 'comments' post.pk %}">Comments</a>
<ul class="comments">
    {% for comment in post.comments.all %}
    <li> {{ comment }} </li>
    {% endfor %}
</ul>
<form name="new_comment" method="post">
    {% csrf_token %}
     {{ form }}
    <button type="submit" class="btn btn-default"&gt; value=>Submit</button>
</form>
{% endblock %}